/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/11/2019, 02:18:41 PM
    Author     : Dieter Lahnstein
*/

.horarioheader{
    border: 5px ridge #004028;
    background-color: #ea710b;
    color:white;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
td{
    border: 5px ridge #004028;
    font-family: helvetica;
    font-weight:bold;
    align:center;
    height:80px;
    width: 100px;
   
}
table{
    top: 70px;
      border-collapse:collapse;
    border:5px ridge #004028;
    font-family: helvetica;
    font-weight:bold;
   position:absolute;
   left:25%;
   right: 50%;
   
}
button{
     display: inline-block;
    margin:5px 8px;
    color: #ea710b;
    font-size:20px;
    font-family:Helvetica;
    text-decoration: none;
    border:2px solid #ea710b;
    padding: 2px 5px 2px 5px;
    border-radius:4px;
    background:none;
    position:absolute;
   right: 220px;
   bottom:60px;
}
button:hover{
  background:#ea710b;
  color: white;
  -webkit-transition-duration: 1s;
}

input{
    text-align: center;
    font-family: Helvetica;
    color: black;
   position: absolute;
   font-size: 20px;
   left: 570px;
   width: 230px;
   height: 30px;
   border: 2px solid;
   border-radius: 4px;
   border-color: #ea710b;
}